---

layout:     default
title:      Cream Of The Craft
type:       home
navigation: true

date:       2014-05-08
image:      header-bear.jpg
excerpt:    The idea of translating our thoughts into actual products and sharing it to everyone was a dream a long time ago. And now.. it has become a <i>reality..</i>
 <a href="/about.html" title="Continue" class="more">Continue</a>
gradient:   1

---
{% include fb-sdk.html %}

<div class="summary">

  <p>Well, I guess it's quite obvious that we really enjoy working with details. We unleash our inner creativity and put them to work. Through these amazing flowers, we created something unique and something new. Here are the cool works we've done. <a href="/made-with-love.html" title="Continue" class="more">Continue</a></p>

</div>

<h2>We Go Social</h2>

<h2>Get Some Inspiration</h2>
<p>Check out our posts for the latest updates. You might get some inspiration from us.. We wish to inspire you.</p>

{% for post in paginator.posts %}

  {% include summary.html %}
  
{% endfor %}