<amp-facebook-like width=500 height=700
    layout="fixed"
    data-layout="button_count"
    data-href="https://www.facebook.com/enjoycrafting">
</amp-facebook-like>

<!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your like button code -->
  <div class="fb-like" 
    data-href="https://www.facebook.com/enjoycrafting" 
    data-layout="standard" 
    data-width=500
    data-size=large
    data-action="like" 
    data-show-faces="true">
  </div>