<footer id="footer">
  <div class="container">
    <div class="contact-phone">Call Us Today.: <a href="tel:{{ site.phone }}"><strong>0917. 631. 2463</strong></a></div>
    <nav class="social-links">
      <strong>Follow us</strong>
      <ul>
        <li class="large ico"><a href="https://www.facebook.com/{{ site.facebook }}" class="rounded-ico large" target="_blank">
          <i class="fa fa-facebook fa-3"></i>
        </a></li>
        <li class="large ico"><a href="https://www.instagram.com/{{ site.instagram }}" class="rounded-ico large" target="_blank">
          <i class="fa fa-instagram fa-3"></i>
        </a></li>
        <li class="large ico"><a href="mailto:{{ site.email }}" class="rounded-ico large" target="_blank">
          <i class="fa fa-paper-plane-o fa-3"></i>
        </a></li>
      </ul>
    </nav>
    <div class="copyright">&#169; Cream Of The Craft. All rights reserved.</div>
  </div>
</footer>