<header id="header" class="hdTwo">
  <div class="container">
	<nav class="social" id="headerShareLinksHover">
      <a href="#" class="share-link"></a>
      <ul>
        <li class="facebook" style="top:-65px;" data-top="-65px">
          <a href="https://facebook.com/{{ site.facebook }}" target="_blank"></a>
        </li>
        <li class="instagram" style="top:-130px;" data-top="-130px">
          <a href="https://instagr.am/{{ site.instagram }}" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="email" style="top:-195px;" data-top="-195px">
          <a href="mailto:{{ site.email }}" target="_blank"></a>
        </li>
      </ul>
    </nav>
    <a href="#" class="show-nav"></a>
    <a href="{{ site.baseurl }}" class="logo mobile">
      <h1>Cream Of The</h1>
      <strong>Craft</strong>
    </a>
    <div class="hgroup">
      <a href="#" class="close-nav"></a>
      <nav class="main-nav">
        <ul class="left">
          <li><a {% if page.url == '/index.html' %}class="active"{% endif %} href="{{ site.baseurl }}/index.html">Home</a></li>
          <li><a {% if page.url == '/about.html' %}class="active"{% endif %} href="{{ site.baseurl }}/about.html">About</a></li>
          <li><a {% if page.url == '/made-with-love.html' %}class="active"{% endif %} href="{{ site.baseurl }}/made-with-love.html">Products</a></li>
        </ul>
        <div class="wrap-logo">
          <a href="index.html" class="logo" title="Invisio">
            <h1>Cream Of The</h1>
            <strong>Craft</strong>
          </a>
        </div>
        <ul class="right">
          <li><a {% if page.url == '/originals.html' %}class="active"{% endif %} href="{{ site.baseurl }}/services.html">Originals</a></li>
          <li><a {% if page.url == '/blog.html' %}class="active"{% endif %} href="{{ site.baseurl }}/blog_archive.html">Blog</a></li>
          <li><a {% if page.url == '/contact_us.html' %}class="active"{% endif %} href="{{ site.baseurl }}/contact_us.html">Contact Us</a></li>
        </ul>
      </nav>
      <div class="search">
        <a href="#" class="search-link"></a>
        <div class="search-form">
          <form action="#">
            <input type="text" value="Keyword" placeholder="">
            <input type="submit" value="">
          </form>
        </div>
      </div>
    </div>
  </div>  
</header>